@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --page-background-color: rgb(242, 246, 248);
  --main-shadow-color: rgb(217, 235, 224);
  --border-color: rgb(189, 210, 219);
  --accent-color: rgb(46, 101, 133);
  --tertiary-color: rgb(26, 69, 94);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

body {
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--page-background-color);
  font-family: 'Geist', sans-serif;
}

header,
main,
footer {
  width: 100%;
  max-width: 1920px;
  padding: 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  position: relative;
  gap: 20px;
  flex-wrap: wrap;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 0;
}

aside {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--accent-color);
}

a {
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: all 0.3 ease-in-out;
}

.contact-info > a {
  text-decoration: none;
}

a > i {
  font-size: 1.2rem;
}

a:hover {
  opacity: 0.8;
}

a:visited {
  color: var(--tertiary-color);
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  width: 100%;
  border-block: 2px solid var(--border-color);
  padding: 10px 5px;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--sidebar-width);
}

.occupation {
  font-size: 1.5rem;
  font-weight: 600;
}

.avatar {
  width: 180px;
  border-radius: 50%;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  /* border-bottom: 3px solid var(--border-color);
  padding-bottom: 20px; */
}

.header-with-icon {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
  padding-bottom: 5px;
  color: var(--accent-color);
  font: 1.5rem;
  gap: 20px;
}

.header-with-icon > i {
  font-size: 1.3rem;
}

.inline-divider {
  flex-grow: 1;
  border-bottom: 3px solid var(--border-color);
  margin: 10px 0;
  height: 0;
}

.filled-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--page-background-color);
  text-align: center;
  place-items: center;
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.skill-progress {
  display: flex;
  flex-grow: 1;
  height: 10px;
  width: 100%;
  background-color: var(--border-color);
}

.skill-progress.progress-100 {
  background: var(--accent-color);
}

.skill-progress.progress-80 {
  background: linear-gradient(
    90deg,
    var(--accent-color) 0%,
    var(--accent-color) 80%,
    var(--border-color) 80%,
    var(--border-color) 100%
  );
}

.skill-progress.progress-60 {
  background: linear-gradient(
    90deg,
    var(--accent-color) 0%,
    var(--accent-color) 60%,
    var(--border-color) 60%,
    var(--border-color) 100%
  );
}

.skill-progress.progress-40 {
  background: linear-gradient(
    90deg,
    var(--accent-color) 0%,
    var(--accent-color) 40%,
    var(--border-color) 40%,
    var(--border-color) 100%
  );
}

.skill-progress.progress-20 {
  background: linear-gradient(
    90deg,
    var(--accent-color) 0%,
    var(--accent-color) 20%,
    var(--border-color) 20%,
    var(--border-color) 100%
  );
}

.date {
  font-weight: 700;
  font-style: italic;
  font-size: 0.9rem;
}

.app-line {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

@media (min-width: 1024px) {
  main {
    grid-template-columns: 1fr minmax(400px, auto);
  }

  .contact-info {
    grid-template-columns: repeat(4, auto);
  }

  .main-section {
    border-right: 3px solid var(--border-color);
  }
}

@media (max-width: 640px) {
  .contact-info {
    grid-template-columns: repeat(1, auto);
  }

  html {
    font-size: 12px;
  }

  aside {
    padding: 0;
  }
}
